# Sway Per-Machine Config
config/sway/config.d/10_wallpaper.conf

# Cache Files and Folders
__pycache__
__init__.py

# lock files
config/nvim/lazy-lock.json

# machine specific files
config/fish/fish_variables

