// client configuration
copy_on_select false
theme "second2050"
simplified_ui false
session_serialization false
ui {
    pane_frames {
        rounded_corners true
    }
}

// themes
themes {
    second2050 {
        // this theme is bare bones and just changing colors I want changed
        // based on the dracula theme found in the documentation of zellij
        // changed colors
        fg      "#808080" // inactive tab color
        green   "#00afff" // accent color
        magenta "#ff0090" // locked indicator
        orange  "#ff9500" // mode indicator

        // unchanged colors
        bg 40 42 54
        black 0 0 0
        red 255 85 85
        yellow 241 250 140
        blue 98 114 164
        cyan 139 233 253
        white 255 255 255
    }
}

keybinds {
    // `locked` is used as command/normal mode
    // meanwhile `normal` is used as insert/locked mode
    normal clear-defaults=true {
        bind "Ctrl g" { SwitchToMode "Locked"; }
        bind "Ctrl b" { SwitchToMode "Tmux"; }
    }
    locked {
        bind "Enter" "Esc" { SwitchToMode "Normal"; }
        bind "Ctrl g" {
            Write 7; // 7 = ^G
            SwitchToMode "Normal";
        }
        bind "p" { SwitchToMode "Pane"; }
        bind "n" { SwitchToMode "Resize"; }
        bind "s" { SwitchToMode "Scroll"; }
        bind "o" { SwitchToMode "Session"; }
        bind "t" { SwitchToMode "Tab"; }
        bind "h" { SwitchToMode "Move"; }
        bind "b" { SwitchToMode "Tmux"; }

        bind "g" { SwitchToMode "Normal"; }
        bind "q" { Quit; }
        bind "n" { NewPane; }
        bind "Left" { MoveFocusOrTab "Left"; }
        bind "Right" { MoveFocusOrTab "Right"; }
        bind "Down" { MoveFocus "Down"; }
        bind "Up" { MoveFocus "Up"; }
        bind "=" "Alt +" { Resize "Increase"; }
        bind "-" { Resize "Decrease"; }
        bind "[" { PreviousSwapLayout; }
        bind "]" { NextSwapLayout; }
    }
    shared_except "normal" {
        bind "Enter" "Esc" { SwitchToMode "Normal"; }
    }
    shared_except "pane" "normal" {
        bind "Ctrl p" { SwitchToMode "Pane"; }
    }
    shared_except "resize" "normal" {
        bind "Ctrl n" { SwitchToMode "Resize"; }
    }
    shared_except "scroll" "normal" {
        bind "Ctrl s" { SwitchToMode "Scroll"; }
    }
    shared_except "session" "normal" {
        bind "Ctrl o" { SwitchToMode "Session"; }
    }
    shared_except "tab" "normal" {
        bind "Ctrl t" { SwitchToMode "Tab"; }
    }
    shared_except "move" "normal" {
        bind "Ctrl h" { SwitchToMode "Move"; }
    }
    shared_except "tmux" "normal" {
        bind "Ctrl b" { SwitchToMode "Tmux"; }
    }
}
