// client configuration
copy_on_select false
theme "second2050"
default_layout "compact"
simplified_ui false
session_serialization false
ui {
    pane_frames {
        rounded_corners true
    }
}

plugins {
    tab-bar location="https://github.com/dj95/zjstatus/releases/download/v0.19.1/zjstatus.wasm" {
        color_orange "#f4a331"
        color_blue "#2fd0ef"

        format_left  "#[fg=0]#[fg=7,bg=0]Zellij#[fg=8,bg=0]#[fg=7,bg=0,bold]{session}#[fg=0] {tabs}"
        tab_normal   "#[fg=0]#[fg=8,bg=0,bold]{name}#[fg=0] "
        tab_active   "#[fg=$blue]#[fg=#000000,bg=$blue,bold]{name}#[fg=$blue] "
    }
    compact-bar location="https://github.com/dj95/zjstatus/releases/download/v0.19.1/zjstatus.wasm" {
        color_orange "#f4a331"
        color_blue "#2fd0ef"

        format_left  "{mode}#[fg=7,bg=0,bold]{session}#[fg=0]"
        format_center "{tabs}"
        format_right "#[fg=0]{notifications}{datetime}#[fg=0]"
        format_space ""
        format_precedence "lrc"
        format_hide_on_overlength "true"

        notification_format_unread           "#[fg=7,bg=0]{message} #[fg=7,bg=0,blink] "
        notification_show_interval           "10"

        border_enabled  "false"
        border_char     "─"
        border_format   "#[fg=#6C7086]{char}"
        border_position "top"

        hide_frame_for_single_pane "false"

        mode_normal        "#[fg=0]#[fg=$blue,bg=0]Insert#[fg=8,bg=0]"
        mode_locked        "#[fg=$blue]#[fg=0,bg=$blue]Normal#[fg=$blue,bg=0]"
        mode_resize        "#[fg=$orange]#[fg=0,bg=$orange]{name}#[fg=$orange,bg=0]"
        mode_pane          "#[fg=$orange]#[fg=0,bg=$orange]{name}#[fg=$orange,bg=0]"
        mode_tab           "#[fg=$orange]#[fg=0,bg=$orange]{name}#[fg=$orange,bg=0]"
        mode_scroll        "#[fg=$orange]#[fg=0,bg=$orange]{name}#[fg=$orange,bg=0]"
        mode_enter_search  "#[fg=$orange]#[fg=0,bg=$orange]{name}#[fg=$orange,bg=0]"
        mode_search        "#[fg=$orange]#[fg=0,bg=$orange]{name}#[fg=$orange,bg=0]"
        mode_rename_tab    "#[fg=$orange]#[fg=0,bg=$orange]{name}#[fg=$orange,bg=0]"
        mode_rename_pane   "#[fg=$orange]#[fg=0,bg=$orange]{name}#[fg=$orange,bg=0]"
        mode_session       "#[fg=$orange]#[fg=0,bg=$orange]{name}#[fg=$orange,bg=0]"
        mode_move          "#[fg=$orange]#[fg=0,bg=$orange]{name}#[fg=$orange,bg=0]"
        mode_prompt        "#[fg=$orange]#[fg=0,bg=$orange]{name}#[fg=$orange,bg=0]"
        mode_tmux          "#[fg=$orange]#[fg=0,bg=$orange]{name}#[fg=$orange,bg=0]"

        tab_normal "#[fg=8]#[fg=0,bg=8,bold]{index}#[fg=8,bg=0] {floating_indicator}{sync_indicator}{fullscreen_indicator}{name}#[fg=0] "
        tab_active "#[fg=$blue]#[fg=0,bg=$blue,bold]{index}#[fg=$blue,bg=0] {floating_indicator}{sync_indicator}{fullscreen_indicator}{name}#[fg=0] "
        tab_rename "#[fg=$orange]#[fg=0,bg=$orange,bold]{index}#[fg=$orange,bg=0] {name}#[fg=0] "
        tab_floating_indicator "󰹙 "
        tab_fullscreen_indicator "󰊔 "
        tab_sync_indicator "󰓦 "
        tab_display_count         "5"
        tab_truncate_start_format "#[fg=0]#[fg=8,bg=0] {count}#[fg=0] "
        tab_truncate_end_format   "#[fg=0]#[fg=8,bg=0]{count} #[fg=0]"

        datetime        "#[fg=8,bg=0,bold]{format}"
        datetime_format "%Y-%m-%d %H:%M:%S 󰥔"
        datetime_timezone "Europe/Berlin"
    }
    zellij_forgot location="https://github.com/karimould/zellij-forgot/releases/download/0.4.1/zellij_forgot.wasm" {
        "LOAD_ZELLIJ_BINDINGS" "true"
    }
    zjquit location="https://github.com/cristiand391/zj-quit/releases/download/0.3.1/zj-quit.wasm" {
        confirm_key "y"
        cancel_key "Esc"
    }
}

themes {
    second2050 {
        // this theme is bare bones and just changing colors I want changed
        // based on the dracula theme found in the documentation of zellij
        // changed colors
        fg      "#808080" // inactive tab color
        green   "#2fd0ef" // accent color
        magenta "#f92672" // locked indicator
        orange  "#f4a331" // mode indicator

        // unchanged colors
        bg 40 42 54
        black 0 0 0
        red 255 85 85
        yellow 241 250 140
        blue 98 114 164
        cyan 139 233 253
        white 255 255 255
    }
}

keybinds {
    // `locked` is used as command/normal mode
    // meanwhile `normal` is used as insert/locked mode
    normal clear-defaults=true {
        bind "Ctrl g" { SwitchToMode "Locked"; }
        bind "Ctrl b" { SwitchToMode "Tmux"; }
    }
    locked {
        // noop keys to prevent write trough
        // r"String" are literal strings with no parsed escape sequences
        // r#"String"# are literal strings with no parsed escape sequences, which can also include `#` and `"` characters
        //     (the number of `#` characters used to start must be the same as the number of `#` characters used to end)
        bind "a" "b" "c" "d" "e" "f" "g" "h" "i" "j" "k" "l" "m" "n" "o" "p" "q" "r" "s" "t" "u" "v" "w" "x" "y" "z" \
             "A" "B" "C" "D" "E" "F" "G" "H" "I" "J" "K" "L" "M" "N" "O" "P" "Q" "R" "S" "T" "U" "V" "W" "X" "Y" "Z" \
             "1" "2" "3" "4" "5" "6" "7" "8" "9" "0" \ 
             r"," r"." r"/" r"\" r"`" r#"#"# \
             r"|" r"<" r">" r"?" r"¬" r"_" r"+" r"!" r#"""# r"£" r"$" r"%" r"^" r"&" r"*" r"(" r")" r"_" r"+" r"{" r"}" r":" r"@" r"~" \
             {} 

        bind "Enter" "Esc" { SwitchToMode "Normal"; }
        bind "Ctrl g" "g" {
            Write 7; // 7 = ^G
            SwitchToMode "Normal";
        }

        // Mode switches
        bind "p" { SwitchToMode "Pane"; }
        bind "r" { SwitchToMode "Resize"; }
        bind "s" { SwitchToMode "Scroll"; }
        bind "o" { SwitchToMode "Session"; }
        bind "t" { SwitchToMode "Tab"; }
        bind "h" { SwitchToMode "Move"; }
        bind "b" { SwitchToMode "Tmux"; }

        // Direct actions
        bind "q" { MessagePlugin "zjquit" { name ""; launch_new true; floating true; }; SwitchToMode "Normal"; }
        bind "n" { NewPane; }
        bind "x" { CloseFocus; }
        bind "Left" { MoveFocusOrTab "Left"; }
        bind "Right" { MoveFocusOrTab "Right"; }
        bind "Down" { MoveFocus "Down"; }
        bind "Up" { MoveFocus "Up"; }
        bind "=" "Alt +" { Resize "Increase"; }
        bind "-" { Resize "Decrease"; }
        bind "[" { PreviousSwapLayout; }
        bind "]" { NextSwapLayout; }
        bind "?" { LaunchOrFocusPlugin "zellij_forgot" { floating true; }; SwitchToMode "Normal"; }
    }
    shared_except "normal" {
        bind "Enter" "Esc" { SwitchToMode "Normal"; }
    }
    shared_except "pane" "normal" {
        bind "Ctrl p" { SwitchToMode "Pane"; }
    }
    shared_except "resize" "normal" {
        bind "Ctrl n" { SwitchToMode "Resize"; }
    }
    shared_except "scroll" "normal" {
        bind "Ctrl s" { SwitchToMode "Scroll"; }
    }
    shared_except "session" "normal" {
        bind "Ctrl o" { SwitchToMode "Session"; }
    }
    shared_except "tab" "normal" {
        bind "Ctrl t" { SwitchToMode "Tab"; }
    }
    shared_except "move" "normal" {
        bind "Ctrl h" { SwitchToMode "Move"; }
    }
    shared_except "tmux" "normal" {
        bind "Ctrl b" { SwitchToMode "Tmux"; }
    }
}
