@define-color module-bg #000000;
@define-color module-bga alpha(@module-bg, 0.8);
@define-color module-fg #ffffff;
@define-color module-window @module-fg;
@define-color module-idle_inhibitor @module-fg;
@define-color module-network #2980b9;
@define-color module-audio #f1c40f;
@define-color module-audio-muted #ff0000;
@define-color module-cpu #2ecc71;
@define-color module-ram #9b59b6;
@define-color module-brightness #90b1b1;
@define-color module-battery @module-fg;
@define-color module-battery-charging #26a65b;
@define-color module-battery-critical #f53c3c;
@define-color module-clock @module-fg;
@define-color module-menu #1793d1;
@define-color module-workspaces #00afff;
@define-color module-mpris @module-fg;
@define-color module-tray-attention #eb4d4b;
@define-color module-notification @module-fg;
@define-color module-notification-alert #ff0000;

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Noto Sans, Roboto, Helvetica, Arial, Symbols Nerd Font, sans-serif;
    font-size: 13px;
    min-height: 0; 
}

window#waybar { /* base window of waybar */
    background-color: rgba(0, 0, 0, 0);
    color: #ffffff;
}

/* base settings for modules */
#clock,
#battery.charging,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#battery,
#clock,
#mpd,
#custom-notification,
#window,
#custom-waybar-mpris,
#custom-nwg-menu,
#taskbar {
    border-radius: 6px;
    background-color: @module-bga;
    padding: 0 6px;
    color: @module-fg;
    transition-property: all;
    transition-duration: .5s;
}

#window {
    color: @module-window;
    margin-left: 0px;
    font-weight: bold;
}

#window:hover {
    background-color: @module-window;
    color: @module-bg;
}

#mode {
    background-color: rgba(235, 61, 75, 0.8);
}

#workspaces {
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.8);
    transition-property: all;
    transition-duration: .5s;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    transition-property: all;
    transition-duration: .5s;
}

#workspaces button:hover {
    background: rgba(255, 255, 255, 0.2);
}

#workspaces button.focused {
    color: #00afff;
    background-color: rgba(0, 175, 255, 0.2);
}

#workspaces button.focused:hover {
    background-color: rgba(0, 175, 255, 0.4);
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#clock {
    color: @module-clock;
}

#clock:hover {
    color: @module-bg;
    background-color: @module-clock;
}

#battery {
    color: @module-battery;
}

#battery:hover {
    background-color: @module-battery;
    color: @module-bg
}

#battery.charging, #battery.plugged {    
    color: @module-battery-charging;
}

#battery.charging:hover, #battery.plugged:hover {    
    background-color: @module-battery-charging;
    color: @module-bg;
}

@keyframes blink {
    to {
        color: @module-battery-critical;
    }
}

#battery.critical:not(.charging) {
    color: @module-battery;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.critical:not(.charging) {
    background-color: @module-battery;
    color: @module-bg;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    color: @module-cpu;
}

#cpu:hover {
    background-color: @module-cpu;
    color: @module-bg;
}

#memory {
    color: @module-ram;
}

#memory:hover {
    background-color: @module-ram;
    color: @module-bg;
}

#backlight {
    color: @module-brightness;
}

#backlight:hover {
    background-color: @module-brightness;
    color: @module-bg;
}

#network {
    color: @module-network;
}

#network:hover {
    background-color: @module-network;
    color: @module-bg;
}

#pulseaudio {
    color: @module-audio;
}

#pulseaudio:hover {
    background-color: @module-audio;
    color: @module-bg;
}

#pulseaudio.muted {
    color: @module-audio-muted;
}

#pulseaudio.muted:hover {
    background-color: @module-audio-muted;
    color: @module-bg;
}

#tray {
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @module-tray-attention;
    border-radius: 6px;
}

#idle_inhibitor {
    color: @module-idle_inhibitor;
}

#idle_inhibitor.activated {
    background-color: @module-idle_inhibitor;
    color: @module-bg;
}

#idle_inhibitor:hover {
    background-color: @module-idle_inhibitor;
    color: @module-bg;
}

#custom-nwg-menu {
    color: @module-menu;
}

#custom-nwg-menu:hover {
    background-color: @module-menu;
    color: @module-bg;
}

#custom-notification:hover {
    background-color: @module-fg;
    color: @module-bg;
}

#custom-notification.cc-open {
    background-color: @module-fg;
    color: @module-bg;
}

#custom-waybar-mpris {
    color: @module-mpris;
}

#custom-waybar-mpris:hover {
    background-color: @module-mpris;
    color: @module-bg;
}

#taskbar {
    padding: 0;
}

