"$schema" = 'https://starship.rs/config-schema.json'

# prompt
add_newline = true
format = """$username$hostname $directory$git_branch$git_commit$git_state$git_status$git_metrics$direnv$jobs$cmd_duration
${custom.asciinema}$nix_shell$shell$character"""

[character]
success_symbol = ""
error_symbol = "[](red)"
vimcmd_symbol = "[•](green)"

[directory]
truncate_to_repo = true
truncation_length = 4
truncation_symbol = "…/"
style = "white"
read_only = " 󰌾"

[hostname]
ssh_only = false
format = "[@](red)[$hostname]($style)"
style = "bold white"

[username]
show_always = true
format = "[$user]($style)"
style_user = "bold white"

[git_branch]
format = "[$symbol](bold red)$branch"

[git_status]
format = " [$all_status$ahead_behind]($style) "
untracked = ""

[git_metrics]
disabled = false

[shell]
format = "$indicator" # eliminate forced space
disabled = false      # not enabled by default ö.ö
# indicator strings
bash_indicator = "BA "
fish_indicator = ""
zsh_indicator = "Z! "
powershell_indicator = "PS "
ion_indicator = "ION"
elvish_indicator = "EL "
tcsh_indicator = "TC "
xonsh_indicator = "XON"
unknown_indicator = "?? "

[time]
disabled = false
format = ' [$time]($style) '

[jobs]
symbol = '󰫢'

[nix_shell]
disabled = false
heuristic = true
format = '[$symbol$state( \($name\))]($style) '
symbol = ''
impure_msg = '!'
pure_msg = '󰄬'
unknown_msg = ''

[direnv]
disabled = false
format = '[$loaded]($style)'
symbol = ''
allowed_msg = ''
not_allowed_msg = ''
denied_msg = ''
loaded_msg = '󰉋'
unloaded_msg = '󱧹'

[custom.asciinema]
command = 'tput blink; echo "REC "'
when = """ set -q ASCIINEMA_REC && test "$ASCIINEMA_REC" -eq 1 """
shell = ['fish', '-N']
description = 'Shows indicator if Asciinema is recording'
style = 'bold red'
